* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
body {
    width: 100%;
    padding: 20px 0;
}

h1 {
    text-align: center;
}

/* GENERAL DISPLAY */
.container__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

.button__ask, .confirm__button, .reset__button {
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(128, 128, 205);
    cursor: pointer;
    transition: all ease-in .3s;
}

.button__ask:hover, .confirm__button:hover, .reset__button:hover{
    background-color: rgb(72, 72, 116);
    color: #fff;
}

.container__grid, .container__custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 25px;
    overflow: hidden;
}

.square {
    background-color: lightgrey;
    transition: all ease-in-out .3s;
    text-align: center;
}

.label__size {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.size__grid {
    margin: 5px 0;
    width: 50%;
}