* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
body {
    width: 100%;
    padding: 20px 0;
}

h1 {
    text-align: center;
}

/* GENERAL DISPLAY */
.container__button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button__ask {
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(128, 128, 205);
    cursor: pointer;
    transition: all ease-in .3s;
}

.button__ask:hover {
    background-color: rgb(72, 72, 116);
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 845px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    transition: all ease-in-out .3s;
}